@page "/playlists"
@inject Orchestrator _orchestrator;
<PageTitle>Your Playlists</PageTitle>

 

<div class="page-container">
    <h2 class="title">🎵 Playlists Manager</h2>
    <p class="nombreUsuario">Bienvenido @nombreUsuario</p>

    <table class="playlists-table">
        <thead>
            <tr>
                <th>Playlist Name</th>
                <th>Songs</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody>
            @if (userPlaylists != null && userPlaylists.Any())
            {
                @foreach (var playlist in userPlaylists)
                {
                    <tr>
                        <td>@playlist.name</td>
                        <td>@playlist.getItemNumber()</td>
                        <td>@playlist.DateCreated.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="no-playlists-message">
                        No playlists found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />

<h4>Crear Nueva Playlist</h4>
<EditForm Model="@newPlaylist" OnValidSubmit="@CreatePlaylist">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <InputText class="form-control" @bind-Value="newPlaylist.Name" />
    </div>
    <div class="mb-3">
        <label>Descripción:</label>
        <InputText class="form-control" @bind-Value="newPlaylist.Description" />
    </div>
    <button type="submit" class="btn btn-success">Crear Playlist</button>
</EditForm>

