@page "/playlists"

<h3>Mis Playlists</h3>

@if (userPlaylists == null)
{
    <p><em>Cargando playlists...</em></p>
}
else if (!userPlaylists.Any())
{
    <p>No tienes ninguna playlist todavía. ¡Crea una!</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Playlist</th>
                <th>Descripción</th>
                <th>Canciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var playlist in userPlaylists)
            {
                <tr>
                    <td>@playlist.Name</td>
                    <td>@playlist.Description</td>
                    <td>@(playlist.Items?.Count ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

<h4>Crear Nueva Playlist</h4>
<EditForm Model="@newPlaylist" OnValidSubmit="@CreatePlaylist">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <InputText class="form-control" @bind-Value="newPlaylist.Name" />
    </div>
    <div class="mb-3">
        <label>Descripción:</label>
        <InputText class="form-control" @bind-Value="newPlaylist.Description" />
    </div>
    <button type="submit" class="btn btn-success">Crear Playlist</button>
</EditForm>

